.h-1 span{
   color: rgba(145,0,248,1);   
}
body{
   background-color: rgba(26,11,46,1);
}
.h-1{
   color: white;
}
.navbar{
   display: flex;
   justify-content: space-around;
}
.list-1{
   display: flex;
   gap: 30px;
   
}
.list-1 li{
   list-style: none;
}
.list-1 a{
   text-decoration: none;
   color: white;
}
.btn-1{
   border: 1px;
   border-radius: 10px;
   color: white;
   background-color: purple;
   padding: 12px 16px ;   
}
.banner{
  background-image: url(assets/hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.banner img{
   display: flex;
   justify-content: center;
   justify-items: center;
   align-items: center;
   padding-left: 41%;
}
.microphone{
   padding-left: 15%;
   transform:translateY(-270px) 
}
.new{
   background-color: lightgreen;
   padding:5px 10px;
   
   border: 1px solid blue;
   border-radius: 10px;
   position: absolute;
   top: 50%;
   left: 59%;
   
   transform: translateY(-220px);   
}
.btn-3, .btn-4{
   background-color: rgb(204, 126, 126);
   display: flex;
   text-align: center;
   gap: 8px;
   padding:5px 10px;
   border: 1px;
   border-radius: 10px;
   
}
.btn-3 img {
   transform: translateX(-50px);
}
.btn-3 span {
   white-space: nowrap;
   transform: translateX(-50px);

}
.btn-4 img {
    transform: translateX(-40px);
}
.btn-4 span{
   transform: translateX(-40px);
}
.btn-3{
   color: white;
}
.btn-4{
   color: lightgreen;
}
.daily{
   display: flex;
   justify-content: center;
   padding-left:5%;
   border: 2px;
   gap: 10px;
}
.TechWave{
   color: white;
    border: 1px;
    text-align: center;
}
.podcast{
   color: white;
    border: 1px;
   text-align: center;
}
.monthly{
   display: flex;
   justify-content: space-around;
   color: white;
   padding-left: 150px;
   padding-right: 150px;
   
}
.monthly h2{
   color: palegreen;
}
.card1,.card2,.card3,.card4,.card5{
   border: 1px solid red;
   border-radius: 10px;
   width: 300px;
   height: 280px;
   padding-left: 20px;
   padding-top: 20px;
   color: white;
  

   
}
.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
    gap: 10px;
    align-items: center;
    padding-left: 200px;
    padding-right: 100px;
}
.choose{
   color: white;
   text-align: center;
}
.logos{
   background-color: rgba(36,14,61,1);
   padding-top: 20px;
   padding-bottom: 30px;
}
.video1 , .video2 , .video3{
   border: 1px;
   border-radius: 20px;
   width: 310px;
   height: 480px;
   padding-left: 15px;
   padding-top: 4px;
   color: white;
   background-color: rgba(36,14,61,1);

}
.clock{
   color: lightgreen;
   display: flex;
   gap: 10px;

}
.episode{
   color: white;
   display: flex;
   justify-content: center;
}
.videos{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   padding-left: 200px;
   padding-right: 100px;
   
}


 
