.h-1 span{
   color: rgba(145,0,248,1);   
}
body{
   background-color: rgba(26,11,46,1);
}
.h-1{
   color: white;
}
.navbar{
   display: flex;
   justify-content: space-around;
}
.list-1{
   display: flex;
   gap: 30px;
   
}
.list-1 li{
   list-style: none;
}
.list-1 a{
   text-decoration: none;
   color: white;
}
.btn-1{
   border: 1px;
   border-radius: 10px;
   color: white;
   background-color: purple;
   padding: 12px 16px ;   
}
.banner{
  background-image: url(assets/hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.banner img{
   display: flex;
   justify-content: center;
   justify-items: center;
   align-items: center;
   padding-left: 37%;
}
.microphone{
   padding-left: 15%;
   transform:translateY(-270px) 
}
