.h-1 span{
   color: rgba(145,0,248,1);   
}
body{
   background-color: rgba(26,11,46,1);
}
.h-1{
   color: white;
}
.navbar{
   display: flex;
   justify-content: space-around;
}
.list-1{
   display: flex;
   gap: 30px;
   
}
.list-1 li{
   list-style: none;
}
.list-1 a{
   text-decoration: none;
   color: white;
}
.btn-1{
   border: 1px;
   border-radius: 10px;
   color: white;
   background: var(--linear, linear-gradient(47.64deg));
   padding: 12px 16px ;   
}
hr{
   border: none;
   border-top: 1px solid rgba(65,37,103,1);
   height: 1px;
}
.line{
   border: none;
   border-top: 1px solid rgba(255,255,255,1);
  opacity: 0.1;
  margin-left:110px;
  margin-right: 100px;
}
.banner{
  background-image: url(assets/hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.banner-img{
 position: relative;
 width:80px;
 padding-left: 500px;
 
 

}
.microphone{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
}
.new{
   background-color: lightgreen;
   padding:5px 10px;
   
   border: 1px solid blue;
   border-radius: 10px;
   position: absolute;
   top: 67%;
   left: 57%;
   
   transform: translateY(-220px);  
}
.btn-3, .btn-4{
   background-color: rgb(204, 126, 126);
   display: flex;
   text-align: center;
   gap: 12px;
   padding:5px 10px;
   border: 1px;
   border-radius: 10px;
   
}
.btn-3 img {
   transform: translateX(-50px);
}
.btn-3 span {
   white-space: nowrap;
   transform: translateX(-50px);

}
.btn-4 img {
    transform: translateX(-40px);
}
.btn-4 span{
   transform: translateX(-40px);
}
.btn-3{
   color: white;
}
.btn-4{
   color: lightgreen;
}
.daily{
   display: flex;
   justify-content: center;
   padding-left:5%;
   border: 2px;
   gap: 10px;
}
.TechWave{
   color: white;
    border: 1px;
    text-align: center;
}
.podcast{
   color: white;
    border: 1px;
   text-align: center;
}
.monthly{
   display: flex;
   justify-content: space-around;
   color: white;
   padding-left: 150px;
   padding-right: 150px;
   
}
.monthly h2{
   color: palegreen;
}
.card1,.card2,.card3,.card4,.card5{
   border: 1px ;
   border-radius: 40px;
   width: 100%;
   height: 100%;
   padding-left: 20px;
   padding-top: 20px;
   color: white; 
   background-color: rgba(53,17,101,0.4);  
}
.card1{
   grid-column: span 1;
   grid-row: span 2;
}
.card2{
   grid-column: span 2;
   grid-row: span 1;
}
.card3{
   grid-column: span 2;
   grid-row: span 1;
}
.card4{
   grid-column: span 2;
   grid-row: span 1;
}
.card5{
   grid-column: span 1;
   grid-row: span 1;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 200px);
    gap: 40px;
    align-items: center;
    padding-left: 200px;
    padding-right: 100px;
}
.choose{
   color: white;
   text-align: center;
}
.logos{
   background-color: rgba(36,14,61,1);
   padding-top: 20px;
   padding-bottom: 30px;
}
.video1 , .video2 , .video3{
   border: 1px;
   border-radius: 20px;
   width: 310px;
   height: 480px;
   padding-left: 15px;
   padding-top: 4px;
   color: white;
   background-color: rgba(36,14,61,1);

}
.clock{
   color: lightgreen;
   display: flex;
   gap: 10px;

}
.episode{
   color: white;
   display: flex;
   justify-content: center;
}
.videos{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   padding-left: 200px;
   padding-right: 100px;
   
}
.host{
   display: flex;
}
.alex{
   display: flex;
   border: 1px;
   border-radius: 10px;
   padding-left: 100px;
   padding-right: 30px;
   padding-top: 20px;
   padding-bottom:30px ;
   background-color: rgba(36,14,61,1);
   margin: 40px 100px;
   gap: 20px;
}
.meet{
   color: white;
   text-align: center;

}
.icon{
   
   display: flex;
   gap: 12px;
   width: 30px;
   height: 30px;
   border: 1px solid white;
   border-radius: 50%;

}
footer{
   background-image: url(assets/footer-bg.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: 100%;
   padding: 50px 0px;
}
.png{
   display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 430px;
  padding-bottom:30px ; 
  color: white;
}
.footer h1{
   text-align: center;
}
.expert{
   color: white;
}
.hamburger{
   display: none;
}
@media screen and (max-width:576px){
   .list-1, .list-1 li, .list-1 a{
      display: none;
   }
   .btn-1{
      display: none;
   }
   .h-1{
      margin-right: auto;
      
   }
   .hamburger{
      margin-left: auto;
      display: block;
      margin-top: 43px;
 }
 .banner-img{
   width: 200px;
   height: 200px;
   text-align: center;
   transform: translateX(-450px);
   size: 200px;
 }
 .microphone{
  
   
   }
   .banner{
      background-image: url(assets/hero-bg.png);
      background-size: cover;
      background-position: center;
      height: 300px;
   }
   .TechWave p{
      transform: translateY(90px);
   }
   .TechWave h1{
      transform: translateY(100px);
   }
   .btn-3{
      width: 19px;
      height: 20px;
   }
   .daily{
      transform: translateY(97px);
   }
   .podcast{
      transform: translateY(60px);
   }
   .line{
      transform: translateY(60px);
      margin-left: 10px;
      margin-right: 10px;
   }
   .monthly{
      padding-left: 30px;
      gap: 5px;
      column-gap: 90px;
      display: grid;
      grid-template-columns: repeat(2,1fr);
   }
   .monthly p{
      display: flex;
      text-wrap: nowrap;
   }
   .logos{
     padding-bottom:0px;
     padding-top: 40px;
     
   }
   .cards{
      display: grid;
     grid-template-columns: repeat(1,1fr);
     width: 100%;
     padding-left: 14px;
     margin-bottom: 100px;
     transform: translateY(50px);

   }
   .card1{
      width: 100%;
      height: 60%;
      padding-left: 10px;
      transform: translateY(-80px);
   }
   .card2,.card3,.card4,.card5{
      padding-left: 10px;
      width: 92%;
      transform: translateY(-180px);
     
   }
   .card5{
      width: 99%;
   }
   .episode{
      transform: translateY(-140px);
   }
   .videos{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      padding-left: 40px;
      transform: translateY(-120px);
      gap: 10px;
     
   }
   .video1,.video2,.video3{
      width: 380px 
   }
   .video1 iframe , .video2 iframe, .video3 iframe{
     width: 370px; 
   }
   .meet{
      transform: translateY(-120px);
   }
   .expert{
      display: block;
      transform: translateY(200px);
   }
   .host{
      padding-right: 90px;
      align-items: center;
      transform: translateY(-190px);
   }
   
}

  
 




 
